* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.body {
    font: 400 60px "Gilroy-Bold";
    sans-serif;
    color: #000;
}

.top {
    padding-bottom: 0;
}

.header {
    padding-top: 24px;
    padding-bottom: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 349px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.button_header {
    background-color: #F5A40D; 
    color: #ffffff; 
    border-radius: 20px;
    width: 10em;
    height: 3em;
}

.top__content {
    padding-top: 143px;
    margin-bottom: 147px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.title {
    width: 578px;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #020202;
}

.top__info {
    margin-top: 222px;
    margin-bottom: 270px;
    width: 604px;
}

.text_image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 39px;
}

.text {
    padding-top: 17px;
    width: 558px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
    opacity: 0.7;
}

.top__button {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 27px;
}

.button {
    background-color: #F5A40D; 
    color: #ffffff; 
    border-radius: 20px;
    width: 10em;
    height: 3em;
}

.top_logos {
    padding-bottom: 33px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 49px;
}